doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0)')
        link(rel="stylesheet" href="/css/style.css")
        link(rel='shortcut icon' type="image/png" href="/img/system/favicon.png")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
        title Teeth Correction | #{title}

    body
        <section>
        <input type="checkbox" id="check">
        // HEADER
        include _header

        // CONTENT
        block content
            h1 Header placeholder
        </section>

        // FOOTER
        include _footer

        //- script(src='/js/bundle.js')