doctype html
html(lang="he" dir="rtl")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="/css/style.css")
        link(rel='shortcut icon' type="image/png" href="/img/system/favicon.png")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
        link(rel="stylesheet" href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css')
        title Teeth Correction | #{title}

    body
        include _header

        block content
        
        include _footer

        script(src='/js/scrollreveal.min.js')
        script(src='/js/main.js')