extends base

block content
    <div class="content">
        <div class="info">
            <h2>Dont be shy <br><span>to smile</span></h2>
            <p>alaksdjlaskjdklasjdl asl dkjaslkdjaslkdj laksd lkasjdlk jaslkd jlashdowqudwj lskjd iqoudsoijq aopsidopaisdi ;asjd jaskljd a asdlkahjsdlkja lkjsdlk</p>
            <a href="#" class="info-btn">More Info</a>
        </div>
    </div>
    <div class="media-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>