extends base

block content
    <main class="main">
        <section class="home section" id="home">
            <div class="background-image"></div>
            <div class="home__container container grid">
                <div class="home__container-img">
                    <img src="/img/slide-3.png" alt="" class="home__img">
                </div>

                <div class="home__data">
                    <div class="home__header">
                        <h1 class="home__title">שיניים הוליוודיות</h1>
                        <h2 class="home__subtitle">בגאורגיה</h2>
                    </div>

                    <div class="home__footer">
                        <h3 class="home__title-description"></h3>
                        <p dir="rtl" class="home__description">
                        | תמיד חלמתם על חיוך הוליוודי?
                        br
                        | חיוך מושלם עם שיניים בריאות ולבנות?
                        br
                        | אז אנחנו כאן בשביל להגשים לכם את החלום!
                        br
                        | אנו מתחייבים להצעת המחיר הזולה ביותר, המשתלמת ביותר, עם הטיפול הכי מקצועי, אסתטי ואיכותי שקיים.
                        br
                        </p>
                        <a href="#" class="button button--flex">
                            <span class="button--flex">
                                <i class="ri-information-line"></i> עוד פרטים
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="specs section grid" id="service">
            <h2 class="section__title section__title-gradient">פרטי השירות</h2>

            <div class="containerxx">
                <div class="box">
                    <i class="fa-solid fa-stethoscope specs-img"></i>
                    <p class="box-description">שתלים או ציפוי זרקוניה לפה מלא.</p>
                </div>
                <div class="divider"></div>
                <div class="box">
                    <i class="fa-solid fa-car specs-img"></i>
                    <p class="box-description">ליווי אישי משדה התעופה ואיסוף עם רכב.</p>
                </div>
                <div class="divider"></div>
                <div class="box">
                    <i class="fa-solid fa-hotel specs-img"></i>
                    <p class="box-description">רישום במלון 5 כוכבים במחיר מוזל.</p>
                </div>
            </div>
            //- <div class="specs__container container grid">
            //-     <div class="specs__content grid">
            //-         <div class="specs__data">
            //-             <i class="ri-service-line"></i>
            //-             <h3 class="specs__title">חידוש</h3>
            //-             <span class="specs__subtitle">שתלים או ציפוי זרקוניה לפה מלא.</span>
            //-         </div>

            //-         <div class="specs__data">
            //-             <i class="ri-flight-land-line"></i>
            //-             <h3 class="specs__title">איסוף משדה התעופה</h3>
            //-             <span class="specs__subtitle">ליווי אישי משדה התעופה בגאורגיה.</span>
            //-         </div>

            //-         <div class="specs__data">
            //-             <i class="ri-group-2-fill"></i>
            //-             <h3 class="specs__title">ליווי ותמיכה</h3>
            //-             <span class="specs__subtitle">ליווי צמוד של מתורגמן לכל אורך התהליך.</span>
            //-         </div>

            //-         <div class="specs__data">
            //-             <i class="ri-hotel-line"></i>
            //-             <h3 class="specs__title">לינה</h3>
            //-             <span class="specs__subtitle">אופציונלי: צ׳ק-אין למלון בוטיק בגאורגיה במחיר מוזל.</span>
            //-         </div>
            //-     </div>

            //-     <div>
            //-         <img class="specs__img" src="img/slide-5.png" alt="">
            //-     </div>
            //- </div>
        </section>

        //- <section class="products section" id="gallery">
        //-     <h2 class="section__title section__title-gradient">גלריה</h2>

        //-     <div class="containerx">
        //-         <div class="image-gallery">
        //-             <div class="column">
        //-                 <div class="image-item">
        //-                     <img src="/img/ex-1.jpg" alt="" />
        //-                 </div>
        //-                 <div class="image-item">
        //-                     <img src="/img/ex-2.jpg" alt="" />
        //-                 </div>
        //-                 <div class="image-item">
        //-                     <img src="/img/ex-3.jpg" alt="" />
        //-                 </div>
        //-             </div>
        //-             <div class="column">
        //-                 <div class="image-item">
        //-                     <img src="/img/ex-1.jpg" alt="" />
        //-                 </div>
        //-                 <div class="image-item">
        //-                     <img src="/img/ex-2.jpg" alt="" />
        //-                 </div>
        //-                 <div class="image-item">
        //-                     <img src="/img/ex-3.jpg" alt="" />
        //-                 </div>
        //-                 <div class="image-item">
        //-                     <img src="/img/ex-4.jpg" alt="" />
        //-                 </div>
        //-             </div>
        //-             <div class="column">
        //-                 <div class="image-item">
        //-                     <img src="/img/ex-1.jpg" alt="" />
        //-                 </div>
        //-                 <div class="image-item">
        //-                     <img src="/img/ex-2.jpg" alt="" />
        //-                 </div>
        //-                 <div class="image-item">
        //-                     <img src="/img/ex-3.jpg" alt="" />
        //-                 </div>
        //-             </div>
        //-         </div>
        //-     </div>
        //- </section>

        <section class="discount section" id="contact">
            <h2 class="section__title section__title-gradient">צור קשר</h2>

            <div class="discount__container container grid">
                <div class="background-image"></div>
                <div class="discount__animate">
                    <div class="contact__container-info">
                        <h2 class="discount__title">רחלי</h2>
                    </div>
                    <a href="#" class="button-light button--flex">
                        <i class="ri-whatsapp-line button__icon"></i></i> 054-447-7290
                    </a>
                </div>

                <div class="discount__animate">
                    <h2 class="discount__title">שני</h2>
                    <a href="#" class="button-light button--flex">
                        <i class="ri-whatsapp-line button__icon"></i></i> 054-248-1733
                    </a>
                </div>
            </div>
        </section>
    </main>